@import 'vars';
@import 'mixins';
@import 'globals';

.main-header{
    background-image: url(img/coffee-slajd-1.png);
    background-position: center;
    background-size: cover;
    @include flex($justify:center);
    .hgroup{
      padding:300px 0;
      color:$white;
      @media (max-width:767px){
        padding:250px 0 150px 0;
    }
      h1{
        color:$accents;
      }
      p{
        margin:40px 0;
      }
    }
    
   }
   .ponuda{
    h2{
      color:$accents;
      & + p{
        padding:20px 0 70px 0;
      }
    }
    article{
      @include flex();
      div{
        flex:0 0 33%;
        @media (max-width:767px){
         flex:0 0 100%;
         margin-bottom: 30px;
         &:last-child{
          margin-bottom: 0;
         }
      }
        h3{
          padding:45px 0 15px 0;
        }
      }
    }
   }
// meni
.meni {
  background: $black;
  color: $accents;
  @include flex;
  @media(max-width: 767px) {
      padding-top: 50px;
  }
  div {
      &:first-child {
          flex: 0 0 60%;
          @media(max-width: 767px) {
              flex: 0 0 100%;
          }
          .row {
              padding: 100px;
              @media(max-width: 767px) {
                  padding: 50px 10px;
              }
              .wrapper {
                  @include flex;
                  .menu-item {
                      @include flex;
                      flex: 0 0 50%;
                      margin-bottom: 30px;
                      @media(max-width: 767px) {
                          flex: 0 0 100%;
                
                      }
                      .img {
                          flex: 0 0 40%;
                          img {
                              width: 100px;
                          }
                      }
                      .text {
                          flex: 0 0 60%;
                          p {
                              color: $white;
                          }
                      }
                  }
              }
          }
      }
      &:last-child {
          flex: 0 0 40%;
          @media(max-width: 767px) {
              flex: 0 0 100%;
          }
      }
  }
}
.usluge{
  h2{
    color:$accents;
    margin-bottom:25px;
    & + p{
      margin-bottom: 90px;
    }
  }
  p{
    margin:20px 0 100px 0;
  }
  article{
    @include flex($align:strech);
    div{
      flex:0 0 50%;
      @media(max-width: 767px) {
        flex: 0 0 100%;
    }
      &:last-child{
        background:$bg;
        padding:110px 50px 50px 50px;
        @media(max-width: 767px) {
          padding:50px;
      }

        h3{
          margin-bottom: 10px;
        }
      }
      }
     &:nth-child(even){
      flex-direction: row-reverse;
     }
    }
  }
.poruci{
  background-image:linear-gradient(to right,rgba($text,0.99),rgba($bg,0.9)) ,url(img/poruci.jpg);
  background-position: center;
  background-size: cover;
  padding:250px 0;
  @media(max-width:767px){
    padding:150px;
  }
  .container{
    width:50%;
    @media(max-width:767px){
      width:50%;
    }
  }
  h2{
    margin-bottom: 15px;
  }
  p{
    width:50%;
    color:$white;
    padding:10px 0 35px 0;
  }
}
.kontakt{
  h2{
    margin-bottom: 15px;
  }
  div{
  @include flex();
  ul{
flex:0 0 30%;
line-height: 36px;

i{
  color:$accents;
  font-size:25px;
  padding-right: 15px;
}
  }
  form{
margin-bottom: 20px;
flex:0 0 70%;
@include flex();


input{
flex:0 0 49%;
padding:15px;
margin-bottom: 15px;
}
textarea{
flex:0 0 100%;
padding:15px;
margin-bottom: 15px;
}
  }
  }
}
// kontakt
footer {
  background: $text;
  p {
      color: $white;
      padding: 30px 0;
  }
  img {
      max-width: 500px;
      width: 100%;
      margin: auto;
  }
  input {
      width: 376px;
      padding: 10px;
      @media(max-width: 767px) {
          margin-bottom: 30px;
      }
  }
  .btn {
      border-radius: 0;
      background: $black;
      color: $accents;
  }
}

// bottom bar
.bottom-bar {
  background: $accents;
  padding: 25px;
  a {
      color: $text;
  }
}

// dogadjaji
.dogadjaji {
  @include flex;
  div {
      flex: 0 0 32%;
      border-radius: 20px;
      box-shadow: 0px 3px 6px lightgray;
      overflow: hidden;
      @media(max-width: 767px) {
          flex: 0 0 100%;
          
      }
      div {
          padding: 25px;
      }
  }
}

.headers {
    position: relative;
    background: rgba($black,.9);
    img {
        height: 900px;
        object-fit: cover;
        @media(max-width: 767px) {
            height: 500px;
        }
    }
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.my {
    margin: 30px 0;
}
// dogadjaji
.dogadjaji {
  @include flex;
  div {
      flex: 0 0 32%;
      border-radius: 20px;
      box-shadow: 0px 3px 6px lightgray;
      overflow: hidden;
      @media(max-width: 767px) {
          flex: 0 0 100%;
          
      }
      div {
          padding: 25px;
      }
  }
}
